body {
    background-color: #3700B3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel {
    width: 500px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 8px;
    background-color: blueviolet;
}

.title {
    color: black;
    text-align: center;
}

.control-panel {
    display: flex;
    justify-content: center;
}

.clock {
    display: flex;
    color:white;
    justify-content: center;
}

.circular-progress {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 0deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content:"";
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-color: blueviolet;
}

.progress-value {
    position: relative; 
    font-size: 40px;
    font-weight: 600;
    color: blue;
}

.time {
    display: flex;
    color:white;
    justify-content: center;
    margin-top: 15px;
    font-size: 5rem;
    z-index: 1;
}

.btn {
    width: 100px;
    height: 50px;
    margin: 0.5rem;
    border-radius: 12px;
}