body {
    font-family: Poppins;
    background-color: #141414;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.painel {
    padding: 4%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 8px;
    background-color: #191919;

}

.painel:hover {
    box-shadow: 25px 25px 3px 3px #ff5500;
    transition-duration: 0.5s;
}

.title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 3rem;
    color: #ff5500;
    text-align: center;
    margin-top: px;
}

.control-panel {
    display: flex;
    justify-content: center;
}

.clock {
    display: flex;
    justify-content: center;
}

.circular-progress {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(#ff5500 0deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content:"";
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-color: #171717;
}

.progress-value {
    position: relative; 
    font-size: 40px;
    font-weight: 600;
    color: blue;
}

.time {
    display: flex;
    color:#ff5500;
    justify-content: center;
    margin-top: 15px;
    font-size: 5rem;
    z-index: 1;
}

.btn {
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #ff5500;
    border-color: #ff5500;
    width: 100px;
    height: 50px;
    margin: 0.5rem;
    border-radius: 12px;
}

.btn:hover {
    background-color: #ff5500;
    color: white;
    border-color: #ff5500;
}

.footer {
    margin-top: 25px;
}

.social-media {
    margin-bottom: 25px; 
    color: #202020;
}

.social-media:hover {
    color: blue;
}

